.control-set-value-additional {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.control-set-value-additional__label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
}

.control-set-value-additional__input {
  appearance: textfield;
  border: none;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 12px ;
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: var(--background-secondary);

  &:focus,
  &:hover {
    border-color: var(--border-accent);
    background-color: var(--backgroud-primary);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

.control-set-value-additional__input--error {
  border-color: var(--border-negative) !important;
}

.control-set-value-additional__message {
  position: absolute;
  left: 0;
  bottom: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  width: 100%;
  color: var(--content-negative);
  background-color: transparent;
}
