.item-card-short {
  position: relative;
  display: grid;
  grid-template-columns: 100px 1fr max-content;
  grid-template-rows: 1fr;
  border: 2px solid var(--border-opaque);
  border-radius: var(--basic-border-radius);
}

.item-card-short--with-modal {
  cursor: pointer;

  &:focus,
  &:hover {
    border-color: var(--border-accent-light);
  }
}

.item-card-short-skeleton {
  border: 4px solid var(--border-opaque);
  border-radius: var(--basic-border-radius);
  width: 100%;
  height: 100px;
}

.item-card-short__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  justify-content: flex-start;
  padding: 5px;
}

.item-card-short__image {
  display: flex;
  justify-self: flex-start;
  grid-row: 1/2;
  border-radius: var(--basic-border-radius);
  width: 100%;
  height: 100%;

  // max-height: 100px;
  object-fit: cover;
}

.item-card-short__amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.item-card-short__open-modal-button {
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  border-radius: var(--basic-border-radius);
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

@keyframes loading {
  to {
    background-position:
      350% 0,
      var(--title-position),
      var(--desc-line-1-position),
      var(--desc-line-2-position),
      var(--avatar-position),
      var(--footer-position),
      0 0
    ;
  }
}
