.button-secondary {
  border: none;
  border-radius: var(--button-border-radius);
  padding: 16px 20px;
  width: 100%;
  background-color: var(--gray-200);
  transition: all ease 0.1s;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--gray-300);
  }

  &:active {
    color: var(--content-primary-b);
    background-color: var(--gray-800);
    transform: translateY(3px);
  }
}
