.log-item {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 5px;
}

.log-item__header {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr;
}

.log-item__last-change {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.log-item__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  gap: 4px;
}

.log-item__item {
  position: relative;
  border-radius: var(--basic-border-radius);
  padding: 4px 8px;
  background-color: var(--background-secondary);
}
