.navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--content-primary-a);
  transition: all 0.1s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--accent);
  }

  &--active {
    color: var(--accent);
    cursor: default;
    pointer-events: none;
  }
}
