.components-overview-page {
  width: 100%;
}

.components-overview-page__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  gap: 40px;
}

.components-overview-page__title {
  justify-self: left;
  color: var(--content-primary-a);
}
