.content-primary-a {
  color: var(--content-primary-a);
}

.content-secondary-a {
  color: var(--content-secondary-a);
}

.content-tertiary-a {
  color: var(--content-tertiary-a);
}

.content-primary-b {
  color: var(--content-primary-b);
}

.content-secondary-b {
  color: var(--content-secondary-b);
}

.content-tertiary-b {
  color: var(--content-tertiary-b);
}
