@font-face {
  src:
    url('../../fonts/UberMoveTextLight.woff2') format('woff2'),
    url('../../fonts/UberMoveTextLight.woff') format('woff');
  font-family: UberMoveText;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  src:
    url('../../fonts/UberMoveTextRegular.woff2') format('woff2'),
    url('../../fonts/UberMoveTextRegular.woff') format('woff');
  font-family: UberMoveText;
  font-weight: 400;
  font-display: swap;
}


@font-face {
  src:
    url('../../fonts/UberMoveTextMedium.woff2') format('woff2'),
    url('../../fonts/UberMoveTextMedium.woff') format('woff');
  font-family: UberMoveText;
  font-weight: 500;
  font-display: swap;
}


@font-face {
  src:
    url('../../fonts/UberMoveTextBold.woff2') format('woff2'),
    url('../../fonts/UberMoveTextBold.woff') format('woff');
  font-family: UberMoveText;
  font-weight: 700;
  font-display: swap;
}

