.page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--standart-page-padding);
  min-height: 100vh;
  background-color: var(--backgroud-primary);
}

.page-with-header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  padding: var(--page-padding-with-header);
  min-height: 100vh;
  background-color: var(--backgroud-primary);
  gap: 20px;
}
