.component-overview {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  width: 100%;
  gap: 20px;
}

.component-overview__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.component-overview__show-button {
  border: 1px solid var(--border-selected);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}

.component-overview__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.overview-list-item {
  display: grid;
  grid-template-areas:
    'info img'
    'log log';
  grid-template-columns: 1fr 100px;
  grid-template-rows: min-content max-content;
  border: 1px solid var( --border-opaque);
  border-radius: var(--basic-border-radius);
}

.overview-list-item__info-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  padding: 5px 0 5px 5px;
}

.overview-list-item__amount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.overview-list-item__image {
  grid-area: img;
  border-radius: var(--basic-border-radius);
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.overview-list-item__logs {
  display: none;
  grid-area: log;
}
