.header {
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr max-content;
  grid-template-rows: repeat(2, min-content);
  gap: var(--header-from-top-to-first-element-padding);
}

.header__back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--content-primary-a);
  cursor: pointer;
}

.header__title {
  align-self: right;
  grid-column: 3/-1;
}

.header__counter-controls {
  grid-column: 1/-1;
}
