.notification-static {
  position: absolute;
  left: 0;
  bottom: 100px;
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, max-content);
  border-radius: var(--basic-border-radius);
  padding: 16px;
  width: max-content;
  height: min-content;
  transform: translateX(-150%);
  transition: all ease 1s;
  pointer-events: none;
  user-select: none;
  gap: 5px;
}

.notification-static--show-true {
  opacity: 1;
  transform: translateX(0);
}

.notification-static--show-false {
  opacity: 0;
  transform: translateX(-150%);
}

.notification-static__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-row: 1/-1;
  border-radius: 100%;
  width: min-content;
  height: min-content;
}

.notification-static--info {
  background-color: var(--background-light-accent);

  & .notification-static__icon::after {
    border-color: var(--background-accent);
  }
}

.notification-static--error {
  background-color: var(--background-light-negative);

  & .notification-static__icon::after {
    border-color: var(--background-negative);
  }
}

.notification-static--warning {
  background-color: var(--background-light-warning);

  & .notification-static__icon::after {
    border-color: var(--background-warning);
  }
}

.notification-static--positive {
  background-color: var(--background-light-positive);

  & .notification-static__icon::after {
    border-color: var(--background-positive);
  }
}
