
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
  gap: 20px;
}

.info__stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.info__stack-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 10px;

  & code {
    border-radius: 3px;
    padding: 4px;
    font-family: courier, monospace;
    background-color: var(--background-secondary);
  }
}

.info__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.info__social-link {
  &:hover {
    color: var(--content-accent);
  }
}
