.counter-page {
  width: 100%;
}

.counter-page__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 20px;
}

.counter-page__title {
  justify-self: left;
  color: var(--content-primary-a);
}
