:root {
  --basic-font: 'Roboto', 'Arial', sans-serif;

  // main colors
  --primary-a: #000000;
  --primary-b: #FFFFFF;

  // background
  --bg-primary: var(var(--primary-b));

  // --bg-secondary: ;
  // --bg-tertiary: ;

  // text variables
  --main-text-color: #1D1D1F;
  --second-text-color: #6E6E73;
}
