.header {
  position: fixed;
  left: 50%;
  right: 0;
  bottom: 10px;
  z-index: var(--z-index-header);
  border-radius: var(--basic-border-radius);
  width: max-content;
  background-color: var(--backgroud-primary);
  transform: translateX(-50%);
}
