:root {
  --standart-side-padding: 10px;
  --standart-vertical-padding: 20px;
  --bottom-padding-with-menu: 100px;
  --standart-page-padding: var(--standart-vertical-padding) var(--standart-side-padding) var(--bottom-padding-with-menu) var(--standart-side-padding);
  --standart-page-with-additional-menu-padding: var(--standart-vertical-padding) var(--standart-side-padding) calc(var(--bottom-padding-with-menu) + 40px) var(--standart-side-padding);
  --page-padding-with-header: var(--standart-vertical-padding) var(--standart-side-padding);
  --page-blocks-gap: 20px;
  --modal-paddings: 24px;
}
