.components-list-item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  border: 3px solid transparent;
  border-radius: var(--basic-border-radius);

  &:focus-within,
  &:hover {
    & .components-list-item__image {
      border-color: var(--accent);
    }
  }
}

.components-list-item__image {
  display: flex;
  border: 2px solid transparent;
  border-radius: var(--basic-border-radius);
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: all ease 0.2s;
}

.components-list-item__link {
  position: absolute;
  left: 0;
  top: 0;
  z-index: var(--z-index-link-on-card);
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: transparent;
}
