.button-tertiary {
  border: none;
  border: 1px solid var(--border-opaque);
  border-radius: var(--button-border-radius);
  padding: 16px 20px;
  width: 100%;
  color: var(--content-primary-a);
  background-color: transparent;
  transition: all ease 0.1s;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--border-opaque);
  }


  &:active {
    background-color: var(--gray-200);
    transform: translateY(3px);
  }
}
