
.overview-list-item {
  display: grid;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-areas:
    'img title amount'
    ' description description description'
    'logbutton logbutton logbutton'
    'log log log';
  grid-template-columns: 60px 1fr 100px;
  grid-template-rows: 1fr min-content 40px;
  border: 2px solid var(--border-opaque);
  border-radius: var(--basic-border-radius);
  padding: 10px;
  width: 100%;
  height: min-content;
  box-shadow:  var(--item-box-shadow);
}

.overview-list-item__title {
  grid-area: title;
}

.overview-list-item__image {
  grid-area: img;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.overview-list-item__description {
  grid-area:description ;
}

.overview-list-item__amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: amount;
}

// .overview-list-item__logs-button {
//   grid-area: logbutton;
// }

.overview-list-item > button {
  grid-area: logbutton;
}

.overview-list-item__logs {
  grid-area: log;
  width: 100%;
}

