.heading-xx-large {
  font-family: var(--basic-font);
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.heading-x-large {
  font-family: var(--basic-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.heading-large {
  font-family: var(--basic-font);
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.heading-medium {
  font-family: var(--basic-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

.heading-small {
  font-family: var(--basic-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.heading-x-small {
  font-family: var(--basic-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
