.label-large {
  font-family: var(--basic-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.label-medium {
  font-family: var(--basic-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.label-small {
  font-family: var(--basic-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.label-x-small {
  font-family: var(--basic-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}
