.paragraph-large {
  font-family: var(--basic-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.paragraph-medium {
  font-family: var(--basic-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.paragraph-small {
  font-family: var(--basic-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.paragraph-x-small {
  font-family: var(--basic-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.paragraph-primary-a {
  color: var(--content-primary-a);
}

.paragraph-secondary-a {
  color: var(--content-secondary-a);
}

.paragraph-tertiary-a {
  color: var(--content-tertiary-a);
}

.paragraph-primary-b {
  color: var(--content-primary-b);
}

.paragraph-secondary-b {
  color: var(--content-secondary-b);
}

.paragraph-tertiary-b {
  color: var(--content-tertiary-b);
}
