.control-set-value {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-set-value__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  gap: 20px;
}

.control-set-value__message {
  color: var(--content-negative);
}

.control-set-value__input {
  appearance: textfield;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 4px solid transparent;
  border-radius: var(--basic-border-radius);
  padding: 10px;
  width: 300px;
  height: 200px;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  background-color: var(--background-tertiary);
  transition: all ease 0.2s;

  &:hover,
  &:focus {
    border-color: var(--border-accent);
  }

  // delete default number input arrows
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

.control-set-value__input--error {
  border-color: var(--border-negative) !important;
}

.control-set-value__input--success {
  border-color: var(--border-positive) !important;
}
