.info-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  gap: 20px;
}

.info__title {
  font-family: var(--basic-font-family);
  font-weight: var(--info-title-text-font-weight);
  font-size: var(--info-title-text-font-size);
  text-align: center;
  text-transform: capitalize;
  color: var(--info-text-color);
}

.info__subtitle {
  font-family: var(--basic-font-family);
  font-weight: var(--info-subtitle-text-font-weight);
  font-size: var(--info-subtitle-text-font-size);
  text-align: center;
  text-transform: capitalize;
  color: var(--info-text-color);
}

.info__text {
  font-family: var(--basic-font-family);
  font-weight: var(--info-text-font-weight);
  font-size: var(--info-text-font-size);
  text-align: center;
  color: var(--info-text-color);
}

.info__stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.info__stack-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-family: var(--basic-font-family);
  font-weight: 600;
  font-size: var(--info-text-font-size);
  color: var(--code-text-color);
  gap: 10px;

  & code {
    border-radius: 3px;
    padding: 2px 3px;
    font-family: var(--basic-font-family);
    font-family: courier, monospace;
    background-color: var(--info-text-color);
  }
}

.info__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.info__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
