.delete-button {
  border: none;
  border: 1px solid transparent;
  border-radius: var(--button-border-radius);
  padding: 8px 12px;
  width: 100%;
  color: var(--content-primary-b);
  background-color: var(--background-negative);
  transition: all ease 0.1s;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 29px -15px rgb(66 68 90 / 100%);
  }
}
