.nav {
  padding: 30px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 20px;
}

.nav__item {
  list-style: none;
}

.nav__link {
  text-decoration: none;
}


