.nav {
  border: 2px solid var(--border-opaque);
  border-radius: var(--basic-border-radius);
  padding: 10px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.nav__item {
  list-style: none;
}
