.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: logbtn;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}

.button-with-icon--full {
  flex: 1;
  border: 1px solid var(--border-opaque);
  border-radius: var(--basic-border-radius);
  width: 100%;
}
