.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  transition: all ease 0.1s;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--border-accent-light);
    color: var(--content-accent);
  }

  &:active {
    transform: translateY(3px);
  }
}

.button-with-icon--full {
  border: 2px solid var(--border-opaque);
  border-radius: var(--button-border-radius);
  width: 100%;
}
