.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: logbtn;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--border-accent-light);
    color: var(--content-accent);
  }

}

.button-with-icon--full {
  border: 1px solid var(--border-opaque);
  border-radius: var(--button-border-radius);
  width: 100%;
}
